* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
 
}

#root {
  min-height: 100vh;
}

.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.app-layout {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 260px;
  padding: 16px;
  background: #d9e6ff;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-content {
  flex: 1;
  padding: 0px;
}



